#### Lets practice some data science with python tools
This text is not a heading...

In [175]:
fruit = ['apple', 'banana', 'cherry', 'pear']
print(fruit[0]) #first one - apple
print(fruit[2]) #third one - cherry
print(fruit[-1]) #last one - negative sttarts from the back 

slice = fruit[1:3] # 1 is starting with, and 3 is up to but not including 3
print(slice)

apple
cherry
pear
['banana', 'cherry']

In [176]:
import pandas as pd

In [ ]:
#ordinary python dict with string keys, and lists for values which in turn have ints
#create a python dict (dictionary)
data = {
    'Names': ['Apple', 'Banana', 'Cherry'], # 'Names' is the key, and after the colon : is the value, a list
    'Quantities' : [9, 8, 7]
}
print(data['Names'][-1]) # get last item from the list with the key 'Names'
print(sum(data['Quantities'])) 

df = pd.DataFrame(data) #dataframe is a spreadsheed with column labels and lists of values under each
df

Cherry
24

    Names  Quantities
0   Apple           9
1  Banana           8
2  Cherry           7

In [178]:
s = pd.Series(df.Quantities)
print(s.sum())

a = np.array(s)
print(a.sum())

24
24

In [179]:
data = [12, 33, 99]

total = 0
for n in data:
    total += n
    #total = total + n
# total = sum(data) #aggregate sum total
print(total)

144

In [180]:
#what is numpy is for higher math and fast math using c-like data structure
import numpy as np #import package/module and rename to np

In [181]:
data = [["A", "B", "C"],[1, 2, 3]]
type(data)

list

In [182]:
a = np.array(data) #conver python list into numpy array aka ndarray
type(a)

numpy.ndarray

In [183]:

a.shape # number of (rows, cols) aka our dimensions

(2, 3)

In [184]:
a[1:0].sum()

TypeError: the resolved dtypes are not compatible with add.reduce. Resolved (dtype('<U21'), dtype('<U21'), dtype('<U42'))